@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  min-height: 0;
  min-width: 0;
}
body {
  font-family: "Roboto Condensed", "Noto Sans TC", verdana, sans-serif;
  font-weight: 200;
  background: #81D4FA;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
h3, h4, h5, h6 {
  font-weight: 300;
}
a {
  color: black;
  text-decoration: none;
}
.container {
  vertical-align: middle;
  text-align: center;
  min-height: 70vh;
}
.loginContainer{
  display: inline-block;
  margin: 0 auto;
  min-width: 400px;
  max-width: 45%;
  padding: 4% 0 2% 0;
  vertical-align: middle;
}
.loginButton {
  margin: 0 5px;
}
.gameContainer {
  text-align: left;
}
.submitCode {
  float: right;
  margin: 10px 5px 0 5px;
}
